{
 :paths   ["src"]
 :deps    {
           org.clojure/clojure {:mvn/version "1.11.1"}
           com.cleancoders.speclj-junit-xml/speclj-junit-xml  {:git/url "https://github.com/cleancoders/speclj-junit-xml" :git/sha "2f89ad76eaf02306500afd0b5344843cb469f78c"}
           }
 :aliases {
           :test {:extra-deps  {
                                speclj/speclj {:mvn/version "3.4.3"}
                                }
                  :extra-paths ["spec"]}
           :spec  {:main-opts ["-m" "speclj.main" "-c"]}
           :start {:main-opts ["-m" "main" "-c"]}
           }
 }