{
 :paths   ["src"]
 :deps    {
           org.clojure/clojure {:mvn/version "1.11.1"}
           junit-xml/junit-xml {:local/root "../speclj-junit-xml"}
           }
 :aliases {
           :test {:extra-deps  {
                                speclj/speclj {:mvn/version "3.4.3"}
                                }
                  :extra-paths ["spec"]}
           :spec  {:main-opts ["-m" "speclj.main" "-c"]}
           :start {:main-opts ["-m" "main" "-c"]}
           }
 }